* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, rgb(232, 78, 139), rgb(115, 192, 234));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

h1 {
    font-family: 'Cursive', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease-in-out;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: linear-gradient(45deg, #f1e9ea 0%, #64b4e6 100%);
    animation: flipIn 1s ease-in-out forwards;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: rotateY(20deg) rotateX(20deg);
    animation: pulse 1.5s infinite;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-face {
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
    animation: flipOut 1s ease-in-out forwards;
}
.name {
    font-family: 'Cursive', sans-serif;
    font-size: large;
    font-weight: 700;
    color: rgb(5, 0, 1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

@keyframes flipIn {
    from {
        transform: rotateY(-90deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flipOut {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(180deg);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
